<div class="loginPage">
  <div class="bg-blob right"></div>
  <div class="bg-blob left"></div>
  
  <div class="loginCard">
    <div class="right-section">
      <img src="assets/images/logo.png" alt="Logo" class="logoImg">
      <div class="demoImgSection">
        <img src="../assets/Business, Support, design, communication _ customer service, laptop, computer, messages, woman.png" alt="Demo" class="demoImg">
      </div>
    </div>
    <div class="left-section">
    <app-login-signup></app-login-signup>
    </div>
  </div>
</div>